<div class="box">
  <header>
    <div class="title">
      <h1>Xilogravura</h1>
      <h2>Entalhando Histórias nas Páginas da Arte Impressa</h2>
      <img
        src="https://www.shutterstock.com/shutterstock/photos/2309648023/display_1500/stock-vector-northeast-accordionist-traditional-musician-of-june-festivities-cordel-literature-woodcut-style-2309648023.jpg"
        alt=""
        srcset=""
      />
    </div>
  </header>
  <div class="text-box">
    <h2>Historia</h2>
    <p>
      A xilogravura é uma técnica de impressão em relevo que envolve entalhar
      uma imagem em uma placa de madeira. Ela tem uma longa história que remonta
      a várias culturas antigas ao redor do mundo. Aqui está um resumo da
      história da xilogravura:
    </p>
    <!-- <br /> -->
    <p>
      <strong>Origens Antigas:</strong> A xilogravura tem suas raízes em antigas
      culturas asiáticas, como a China e o Japão. Na China, gravuras em madeira
      eram usadas para imprimir textos, ilustrações e padrões em tecidos desde a
      dinastia Tang (618-907). No Japão, a técnica conhecida como "moku hanga"
      era popular para produzir ukiyo-e, que eram gravuras coloridas em blocos
      de madeira que retratavam cenas do cotidiano e retratos de atores e
      cortesãs
    </p>
    <!-- <br /> -->
    <p>
      <strong>Europa Medieval:</strong> A xilogravura foi introduzida na Europa
      por volta do século XIV. Inicialmente, foi utilizada principalmente para a
      impressão de imagens religiosas, como ícones e gravuras devocionais.
      Devido à natureza rudimentar da técnica, as gravuras eram frequentemente
      simples e estilizadas.
    </p>
    <!-- <br /> -->
    <p>
      <strong>Renascimento e Expansão:</strong> Durante o Renascimento, a
      xilogravura ganhou mais complexidade e detalhes, à medida que artistas
      começaram a explorar novas possibilidades. A técnica foi amplamente usada
      para ilustrar livros e folhetos, tornando-se uma forma importante de
      disseminar informações e imagens na época.
    </p>
    <!-- <br /> -->
    <p>
      <strong>Desenvolvimento da Gravura em Cobre:</strong> A xilogravura perdeu
      um pouco de sua popularidade com o desenvolvimento da gravura em cobre,
      uma técnica que permitia uma maior sutileza e detalhes na reprodução de
      imagens. Artistas como Albrecht Dürer contribuíram para o avanço da
      gravura em metal, mas a xilogravura ainda era utilizada, especialmente em
      contextos populares e vernaculares.
    </p>
    <!-- <br /> -->
    <p>
      <strong>Renascimento da Xilogravura Moderna:</strong> No século XIX, houve
      um ressurgimento da xilogravura como forma de expressão artística.
      Artistas como Vincent van Gogh, Paul Gauguin e Edvard Munch exploraram a
      técnica para criar obras de arte únicas e expressivas.
    </p>
    <!-- <br /> -->
    <p>
      Após a morte de Alexandre, o Império Selêucida assumiu o controle da
      Mesopotâmia, seguido pelo Império Parta e, posteriormente, pelo Império
      Sassânida. No século VII d.C., a região foi conquistada pelos árabes
      muçulmanos durante as conquistas islâmicas.
    </p>
    <!-- <br /> -->
    <p>
      <strong>Influência no Século XX:</strong> A xilogravura continuou a ser
      uma técnica valorizada no século XX. Muitos artistas modernos, como Emil
      Nolde e Ernst Ludwig Kirchner, exploraram a xilogravura como parte do
      movimento expressionista. Além disso, artistas como Hokusai influenciaram
      artistas ocidentais, como os impressionistas franceses.
    </p>
    <!-- <br /> -->
    <p>
      <strong>Técnicas Contemporâneas:</strong> A xilogravura tradicional
      continua a ser praticada por artistas contemporâneos, mas também houve uma
      expansão para novas abordagens, como a combinação da xilogravura com
      outras técnicas de impressão ou a utilização de materiais não
      convencionais.
    </p>
    <p>
      Hoje, a xilogravura é apreciada tanto por sua rica história quanto por sua
      capacidade de produzir obras de arte únicas e texturas expressivas. Ela
      continua a ser uma técnica valorizada no mundo da arte e da impressão.
    </p>
  </div>
  <div class="text-box">
    <h2>Como é feita a xilogravura?</h2>
    <p>
      <strong>Materiais necessários:</strong>
      <br />
      <br />
      <strong>1. Placa de madeira</strong> (geralmente madeira macia, como
      linóleo ou madeira de álamo) <br />
      <strong>2. Ferramentas de corte</strong> (goiva, faca xilográfica, etc.)
      <br />
      <strong>3. Tinta xilográfica</strong> <br />
      <strong>4. Rolo de borracha</strong> (também chamado de brayer) <br />
      <strong>5. Papel degravura</strong> <br />
      <strong>6. Prensa de impressão</strong> (opcional, mas recomendada) <br />
    </p>
    <!-- <br /> -->
    <p>
      <strong>Passos</strong>
    </p>
    <!-- <br /> -->
    <p>
      <strong>1. Preparação da Placa:</strong> Escolha uma placa de madeira e
      lixe sua superfície para que ela fique lisa. Aplique uma camada fina de
      tinta branca ou outro material para selar a madeira, o que ajuda na
      impressão.
    </p>
    <!-- <br /> -->
    <p>
      <strong>2. Desenho ou Transferência do Desenho:</strong>
      Desenhe ou transfira o desenho diretamente para a placa de madeira. O
      desenho deve ser invertido para que a impressão final seja correta.
    </p>
    <!-- <br /> -->
    <p>
      <strong>3. Esculpir a Placa:</strong>
      Use ferramentas de corte, como goivas, para esculpir a área ao redor do
      desenho. As áreas que você quer que sejam impressas devem permanecer em
      relevo. As partes esculpidas serão as áreas brancas no resultado final.
    </p>
    <!-- <br /> -->
    <p>
      <strong>4. Aplicação de Tinta:</strong>
      Aplique tinta xilográfica em uma superfície plana e, em seguida, use o
      rolo de borracha para espalhar uniformemente a tinta sobre a placa
      esculpida. Certifique-se de que a tinta preencha todas as áreas em relevo.
    </p>
    <p>
      <strong>5. Impressão:</strong>
      Coloque uma folha de papel de gravura sobre a placa tinta e pressione
      delicadamente. Certifique-se de aplicar pressão uniforme em toda a
      superfície.
    </p>
    <p>
      <strong>6. Retirada e Secagem:</strong>
      Com cuidado, levante o papel impresso da placa. Você verá a imagem
      transferida do relevo da placa para o papel. Deixe o papel secar
      completamente.
    </p>
    <p>
      <strong>7. Repetição e Variação:</strong>
      Dependendo do número de cópias desejado, repita os passos de aplicação de
      tinta e impressão para criar múltiplas cópias da imagem. Além disso, você
      pode experimentar com diferentes cores de tinta, sobreposições ou outras
      técnicas para criar variações na impressão.
    </p>
    <p>
      Vale ressaltar que a xilogravura requer prática para dominar as técnicas
      de corte, aplicação de tinta e impressão. Cada placa de xilogravura é
      geralmente usada para um número limitado de impressões, já que a madeira
      pode se desgastar com o tempo e perder detalhes finos.
    </p>
  </div>
  <div class="text-box">
    <h2>Sua Ligação com Jota Borges</h2>
    <p>
      Ligando a xilogravura ao artista Jota Borges, é importante notar que Jota
      Borges é um artista contemporâneo brasileiro conhecido por seu trabalho em
      gravura e ilustração. Embora Jota Borges não seja necessariamente um
      xilógrafo, sua abordagem artística e seu interesse pelo processo de
      impressão têm semelhanças com os princípios da xilogravura.
    </p>
    <p>
      Ligando a xilogravura ao artista Jota Borges, é importante notar que Jota
      Borges é um artista contemporâneo brasileiro conhecido por seu trabalho em
      gravura e ilustração. Embora Jota Borges não seja necessariamente um
      xilógrafo, sua abordagem artística e seu interesse pelo processo de
      impressão têm semelhanças com os princípios da xilogravura. Assim como na
      xilogravura, Jota Borges explora a riqueza das texturas e das formas em
      suas obras. Suas gravuras muitas vezes carregam elementos visuais que
      remetem a técnicas tradicionais de impressão, mesmo que ele possa utilizar
      métodos mais modernos. A xilogravura, como uma técnica de impressão em
      relevo, também é valorizada por suas texturas e pela interação entre as
      áreas esculpidas e as áreas em relevo nas placas de madeira.
    </p>
    <p>
      Ao unir a abordagem de Jota Borges com o processo de xilogravura,
      percebe-se uma valorização semelhante pela sensação tátil da arte impressa
      e uma apreciação pelo trabalho manual e pela conexão com técnicas
      artísticas tradicionais. Embora Jota Borges possa não estar diretamente
      ligado à xilogravura em sua prática, o espírito exploratório e a expressão
      artística que ele incorpora em seu trabalho podem ecoar os mesmos
      princípios de criação que têm sido importantes ao longo da história da
      xilogravura e de outras técnicas de impressão.
      <img src="../assets/Jota borges.jpg" alt="" />
    </p>
  </div>
  <div class="text-box">
    <h2>Grandes Obras de Jota Borges</h2>
    <p>
      <span class="img_content">
        <img src="../assets/a chegada.jpg" alt="" srcset="" />
      </span>
      <strong class="titulo_obra">
        <span class="autor">Jota Borges</span>,
        A chegada da prostituta no céu.
      </strong>
    </p>
    <p>
      <span class="img_content">
        <img src="../assets/pé de serra.webp" alt="" />
      </span>
      <strong class="titulo_obra">
        <span class="autor">Jota Borges</span>,
        Pé de serra.
      </strong>
    </p>
    <p>
      <span class="img_content">
        <img src="../assets/lampiao e maria bonita.jpg" alt="" />
      </span>
      <strong class="titulo_obra">
        <span class="autor">Jota Borges</span>,
        lampiao e Maria bonita.
      </strong>
    </p>
    <p>
      <span class="img_content">
        <img src="../assets/briga da onça com a serpente.jpg" alt="" />
      </span>
      <strong class="titulo_obra">
        <span class="autor">Jota Borges</span>,
        Briga da onça e a serpente.
      </strong>
    </p>
  </div>
  <div class="text-box">
    Trabalho Desenvolvido para o Ciência Jovem 2023<br>
    <strong>Nosso Objetivo:</strong>
    <p>
      Conhecimento Ampliado: Os alunos e visitantes do site terão adquirido um conhecimento mais produfudo sobre a xilogravura, sua historia e impacto cultural.
    </p> 
  </div>
  <div class="text-box">
    <h2>Creditos</h2>
    <p>
      <Strong>Alunos:</Strong>
      José Alisson Barbosa do Nascimento<br>
      João Victor de Assis Figueiredo
    </p>
    <br>
    <p>
      <strong>Prof.:</strong>
      Luiz Henrique Candido
    </p>
    <br>
    <p>
      <strong>Escola:</strong>
      Erem Dom Sebastião Leme
    </p>
  </div>
</div>
